<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CrptoGram - Verfiy Otp</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <header>
        <h1>CrptoGram</h1>
    </header>
    <div class="message-container">
        {% if msg %}
        <div class="message error">{{ msg }}</div>
        {% endif %}
    </div>
    <div class="container">
        <div class="card">
            <h2>Login</h2>
            <form id="login-form" class="login-form" action="{{ url_for('cryptogram.verify_otp') }}" method="post">
                <label class="form-label">OneTimePassword</label>
                <input class="form-input" type="text" name="username" id="otp" placeholder="Enter your OTP">
                <input class="form-submit btn" type="submit" value="Login">
            </form>
            <form action="{{ url_for('cryptogram.login') }}" method="get">
                <input class="form-submit btn signup-btn" type="submit" value="Sign Up">
            </form>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/auth-scripts.js') }}"></script>
</body>
</html>